<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>
<body>
      <p>File uploaded successfully</p>
      <p>File Name: {{name}}</p>
</body>

<body>
    <form action = "/submit" method = "post" enctype="multipart/form-data">
        <input type="hidden" name="file_path" value="{{ file_path }}">
        <p>Enter the artist:</p>
        <label>
            <input type="text" name="artist" required>
        </label>
    <p>Enter the album name:</p>
        <label>
            <input type="text" name="album" required>
        </label>
    <p>Enter the song title:</p>
        <label>
            <input type="text" name="title" required>
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>