<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload the file : GFG </title>
</head>
<body>
    <form action = "/edit" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" id="file"
        onchange="return fileValidation()" />
        <input type = "submit" value="Upload">
    </form>

    <script>
        function fileValidation() {
            var fileInput =
                document.getElementById('file');

            var filePath = fileInput.value;

            // allowed file type
            var allowedExtensions =
                /(\.mp3)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
            }
        }
    </script>
</body>
</html>